body {
	background-color: DarkSalmon;
}

.tweet {
	text-align: left;
	font-family: Arial;
	font-size: 80%;
	color: black;
	background-color: white;
	margin-bottom: 10px;
	width: 40%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-left: 30%;
}


.highlight {
	font-size: 120%;
}

.update {
	color: black;
	font-family: Arial;
	font-size: 130%;
	border-bottom-width: 50px;
	border-color: black;
	margin-left: 30%;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-right: 40%;
	background-color: white;
}
